{% extends 'base.html' %}

{% block title %}お知らせ一覧{% endblock %}

{% block content %}
<div class="page-container">
    <div class="news-header">
        <a href="{% url 'notification_form' %}" class="btn btn-primary">お知らせを配信する</a>
    </div>
    <div class="news-main">
        <ul class="list-group">
            {% for notification in notifications %}
                <small>{{ notification.created_at }}</small>
                <li class="list-group-item">
                    <h2>{{ notification.title }}</h2>
                    <p>{{ notification.message }}</p>
                    <div class="news-list-actions mt-2">
                        <button>
                            <a href="{% url 'notification_edit' notification.id %}">編集</a>
                        </button>
                        <button>
                            <a href="{% url 'notification_delete' notification.id %}">削除</a>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}