{% extends 'base.html' %}

{% block title %}お知らせ一覧{% endblock %}

{% block content %}
<div class="page-container">
    <div class="news-header">
        <a href="{% url 'notification_form' %}" class="btn btn-primary">お知らせを配信する</a>
    </div>
    <div class="news-main">
        <ul class="list-group">
            {% for notification in notifications %}
                <li class="list-group-item">
                    <small>{{ notification.created_at }}</small>
                    <h2>{{ notification.title }}</h2>
                    <p>{{ notification.message }}</p>
                    <div class="news-list-actions mt-2">
                        <a href="{% url 'notification_edit' notification.id %}" class="btn btn-outline-secondary news-action-btn">
                            <i class="fa-solid fa-pen-to-square"></i> 編集
                        </a>
                        <a href="{% url 'notification_delete' notification.id %}" class="btn btn-outline-danger news-action-btn">
                            <i class="fa-solid fa-trash"></i> 削除
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}