<!-- notification_form.html -->
{% extends 'base.html' %}

{% block title %}お知らせ配信フォーム{% endblock %}

{% block content %}
<div class="page-container">
    <div class="form-header">
        <h4>おしらせ</h4>
        <p>おしらせの配信を行います</p>
    </div>
    <div class="form-content">
        <div class="news-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                    {{ form.message }}
                </div>
                <div class="form-actions-btn">
                    <button type="submit" class="complete-btn">配信</button>
                    <button type="button" onclick="window.history.back();" class="cancel-btn">
                        戻る
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}