.bannerContainer {
  position: relative;
  overflow: hidden;
  width: 50%; /* 横幅を半分に設定 */
  height: 200px; /* 縦幅を150pxに設定 */
  margin: 0 auto; /* 真ん中に配置 */
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.banner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.bannerItem {
  min-width: 100%; /* 一枚ずつ表示するために追加 */
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像をコンテナにフィットさせる */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3); /* より透明で明るい背景 */
  color: rgb(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%; /* 完全な丸 */
  width: 30px; /* サイズを拡大 */
  height: 30px; /* サイズを拡大 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}