{% extends 'base.html' %}
{% block title %}カテゴリ一覧{% endblock %}
{% block content %}
<div class="page-container">
	<div class="mb-3 text-center">
		<a href="{% url 'fipleapp:category_add' %}" class="icon-link">
			<div class="icon-tile">
				<i class="fa-regular fa-bookmark icons" style="color: lightcoral;"></i>
				<p>カテゴリ追加</p>
			</div>
		</a>
	</div>
	
	<div class="d-flex justify-content-center">
		<div class="category-list" style="max-width: 600px; width: 100%;">
			<ul class="list-group">
				{% for category in categories %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div class="d-flex aligin-item-center">
							<div>
								<div class="d-flex align-items-center">
									<p class="mb-0 fw-bold" style="font-size: 1em; margin-right: 10px;">
										{{ category.category_name }}
									</p>
								</div>
								<small class="text-muted d-block mt-1" style="font-size: 0.75em;">
									<span class="me-2">
										<i class="fa-solid fa-calendar-plus me-1"></i>作成: {{ category.created_at|date:"Y/m/d" }}
									</span>
									<span>
										<i class="fa-solid fa-calendar-check me-1"></i>更新: {{ category.updated_at|date:"Y/m/d" }}
									</span>
								</small>
							</div>
						</div>
						<div class="btn-group">
							<!-- 変更ボタン -->
							<a href="{% url 'fipleapp:category_edit' category.id %}" class="mt-1">
								<i class="fa-regular fa-pen-to-square"></i>
								<span style="color: gray;">変更</span>
							</a>
							<!-- 削除ボタン -->
							<a href="{% url 'fipleapp:category_delete' category.id %}" class="mt-2">
								<i class="fa-regular fa-trash-can"></i>
								<span style="color: gray;">削除</span>
							</a>
						</div>
					</li>
				{% empty %}
					<li>カテゴリがありません。</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<nav aria-label="ページネーション">
		<ul class="pagination">

			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="前へ">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for page_num in page_obj.paginator.page_range %} 
				{% if page_num == page_obj.number %}
					<li class="page-item active">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="次へ">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endblock %}