{% extends 'base.html' %}
{% block title %}カテゴリ追加{% endblock %}
{% block content %}
<div class="page-container">
    <h4>カテゴリ追加</h4>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.category_name.label }}: {{ form.category_name }}
        <div class="radio-inline">
            部位: {{ form.category_position }}
        </div>
        <br>
        <button type="submit">追加</button>
    </form>
    <button onclick="window.history.back();" style="background: none; border: none; color: blue; cursor: pointer;">
        戻る
    </button>
</div>
{% endblock %}