{% extends 'base.html' %}
{% block title %}タグ追加{% endblock %}
{% block content %}
<div class="page-container">
    <div class="form-header">
        <h4>ハッシュタグ</h4>
        <p>ハッシュタグの登録変更を行います</p>
    </div>
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.tag_name.id_for_label }}">{{ form.tag_name.label }}</label>
                {{ form.tag_name }}
            </div>
            <div class="form-actions-btn">
                <button type="submit" class="complete-btn">追加</button>
                <button type="button" onclick="window.history.back();" class="cancel-btn">
                    戻る
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}