{% extends 'base.html' %}

{% block title %}管理者登録{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="admin-table">
            <h1 class="register-title">管理者アカウント作成</h1>
            <div class="register-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="register-button">作成</button>
                    <a href="{% url 'fipleapp:admin_login' %}">管理者ログイン</a>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}