{% extends 'base.html' %}
{% block title %}基盤設定トップ{% endblock %}
{% block content %}
<div class="box-container">
    <div class="guide-link">
        <a href="/guide/base-setting-guide">
            <i class="fa-regular fa-circle-question guide-icon"></i>
            <p>基盤設定について</p>
        </a>
    </div>
    <div class="icon-tile-area">
        <a href="{% url 'fipleapp:category_top' %}" class="icon-link">
            <div class="icon-tile">
                <i class="fa-solid fa-shapes icons" style="color: #a7e7aa;"></i>
                <p>カテゴリー管理</p>
            </div>
        </a>
        <a href="{% url 'fipleapp:color_list' %}" class="icon-link">
            <div class="icon-tile">
                <i class="fa-solid fa-palette icons" style="color: #e7dea7;"></i>
                <p>カラー管理</p>
            </div>
        </a>
        <a href="{% url 'fipleapp:size_list' %}" class="icon-link">
            <div class="icon-tile">
                <i class="fa-solid fa-ruler-combined icons" style="color: #e7a7a7;"></i>
                <p>サイズ管理</p>
            </div>
        </a>
        <a href="{% url 'fipleapp:tag_list' %}" class="icon-link">
            <div class="icon-tile">
                <i class="fa-solid fa-tags icons" style="color: #e7a7c7;"></i>
                <p>ハッシュタグ管理</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
