{% extends 'base.html' %}
{% block title %}バナー削除確認{% endblock %}
{% block content %}
<div class="page-container">
    <div class="form-header">
        <h4>バナー</h4>
        <p>バナーの削除を行います</p>
    </div>
    <div class="form-content">
        <p>本当に以下のバナーを削除しますか？</p>
        <div class="delete-warning">
            <table class="delete-table">
                <tr>
                    <th>バナー画像</th>
                    <td>
                        {% if object.image %}
                        <img src="{{ object.image.url }}" alt="バナー画像" class="banner-preview-img">
                        {% else %}
                            画像はありません。
                        {% endif %}
                    </td>
                </tr>
                <tr><th>リンク</th><td>{{ object.link }}</td></tr>
            </table>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-actions-btn">
                <button type="submit" class="complete-btn">削除</button>
                <button type="button" onclick="window.history.back();" class="cancel-btn">
                    戻る
                </button>
            </div>
        </form>
    </div>
</div>
        {% endblock %}