{% extends 'base.html' %}
{% block title %}バナー管理{% endblock %}

{% block content %}
<div class="banner-container">
    <!-- バナー追加ボタン -->
    <div class="banner-header">
        <a href="{% url 'fipleapp:banner_add' %}" class="btn btn-outline-dark">バナー追加</a>
    </div>
    
    <!-- バナーリスト -->
    <div class="banner-list">
        {% for banner in banners %}
        <div class="banner-item">
            <!-- 画像 -->
            <img src="{{ banner.image.url }}" alt="Banner Image" class="banner-image">
            <!-- リンク -->
            <div class="banner-info">
            <a href="{{ banner.link }}" target="_blank" class="banner-link">{{ banner.link }}</a>
            </div>
            <!-- 編集・削除ボタン -->
            <div class="banner-actions">
                <a href="{% url 'fipleapp:banner_edit' banner.id %}" class="btn btn-sm btn-outline-secondary">編集</a>
                <a href="{% url 'fipleapp:banner_delete' banner.id %}" class="btn btn-sm btn-outline-danger">削除</a>
            </div>
        </div>
        {% empty %}
        <div class="no-banner">バナーが存在しません。</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
