{% extends 'base.html' %}

{% block title %}FAQ登録{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h4>・FAQの登録</h4>
  {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">FAQを登録</button>
  </form>
  <a href="{% url 'fipleapp:faq_manager' %}">戻る</a>
</body>
</html>

{% endblock %}