{% extends 'base.html' %}

{% block title %}FAQカテゴリ登録{% endblock %}

{% block content %}
<div class="page-container">
  <div class="form-header">
      <h4>FAQカテゴリー</h4>
      <p>よくある質問のカテゴリーの登録を行います</p>
  </div>
  <div class="form-content">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
      </div>
      <div class="form-actions-btn">
        <button type="submit" class="complete-btn">追加</button>
        <button type="button" onclick="window.history.back();" class="cancel-btn">
            戻る
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}