{% extends 'base.html' %}

{% block title %}FAQ一覧{% endblock %}

{% block content %}
<div class="page-container">
  <div class="faq-header">
      <div class="faq-header-title">
          <h4>FAQ</h4>
          <p>よくある質問を管理します</p>
      </div>
      <a href="{% url 'fipleapp:create_faq' %}" class="faq-add-btn">
          FAQを追加する
      </a>
  </div>
  <div class="faq-main">
    {% regroup faqs by category as grouped_faqs %}
    {% for group in grouped_faqs %}
      <div class="faq-category">
        <h3>
          <i class="fa-solid fa-folder"></i>
          {{ group.grouper.name }}
        </h3>
        <ul>
          {% for faq in group.list %}
          <li>
            <div class="faq-link-box">
              <div class="faq-info">
                <h2>
                  <i class="fa-solid fa-q">.</i>
                  {{ faq.question }}
                </h2>
                <p>
                  <i class="fa-regular fa-a">.</i>
                  {{ faq.answer }}
                </p>
              </div>
              <div class="faq-actions">
                <a href="{% url 'fipleapp:edit_faq' faq.id %}" class="faq-edit-btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                    編集
                </a>
                <a href="{% url 'fipleapp:delete_faq' faq.id %}" class="faq-delete-btn">
                    <i class="fa-solid fa-trash"></i>
                    削除
                </a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
