{% extends 'base.html' %}
{% load static %}

{% block title %}FAQ管理ページ{% endblock %}

{% block content %}
<div class="page-container">
    <div class="faq-content">
        <div class="faq-header">
            <h4>FAQ管理ページ</h4>
            <p>よくある質問のカテゴリやFAQを管理できます。</p>
        </div>
        <div class="faq-links">
            <a href="/create-question-category/" class="faq-button">FAQカテゴリ登録</a>
            <a href="/create-faq/" class="faq-button">FAQ登録</a>

            <a href="/question-category-list/" class="faq-button">FAQカテゴリリスト</a>
            <a href="/faq-list/" class="faq-button">FAQリスト</a>
        </div>
    </div>
</div>
{% endblock %}
