{% extends 'base.html' %}
{% block title %}商品管理ガイド{% endblock %}
{% block content %}
<div class="page-container">
    <div class="guide-page">
        <div class="guide-area">
            <div class="guide-header">
                <i class="fa-regular fa-circle-question"></i>
                <h4>ガイド</h4>
            </div>
            <div class="guide-content">
                <li>
                    <a href="/guide/product-guide">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            商品管理について
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="guide-link-box">
                            <i class="fa-regular fa-circle-question"></i>
                            サンプル
                        </div>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
{% endblock %}