{% extends 'base.html' %}
{% block title %}商品管理ガイド{% endblock %}
{% block content %}
    <div class="page-container">
        <div class="process-area">
            <div class="process-guide-container">
                <div class="process-header">
                    <h4 class="process-title">Step</h4>
                    <p>新規商品登録のプロセスです</p>
                </div>
                <ol class="process-steps">
                    <li class="step">
                    <a href="{% url 'fipleapp:product_origin_list' %}" class="step-link">
                        <div class="step-tile">
                        <i class="fa-solid fa-warehouse icons" style="color: #a7bae7;"></i>
                        <p>商品元登録</p>
                        </div>
                    </a>
                    </li>
                    <li class="arrow">
                    <i class="fa-solid fa-arrow-down"></i>
                    </li>
                    <li class="step">
                    <a href="{% url 'fipleapp:product_list' %}" class="step-link">
                        <div class="step-tile">
                        <i class="fa-solid fa-box-open icons" style="color: #e7c7a7;"></i>
                        <p>商品登録</p>
                        </div>
                    </a>
                    </li>
                    <li class="arrow">
                    <i class="fa-solid fa-arrow-down"></i>
                    </li>
                    <li class="step">
                    <a href="{% url 'fipleapp:product_image_list' %}" class="step-link">
                        <div class="step-tile">
                        <i class="fa-solid fa-image icons" style="color: #ace7a7;"></i>
                        <p>商品画像登録</p>
                        </div>
                    </a>
                    </li>
                    <li class="arrow">
                    <i class="fa-solid fa-arrow-down"></i>
                    </li>
                    <li class="step">
                    <a href="{% url 'fipleapp:product_tag_list' %}" class="step-link">
                        <div class="step-tile">
                        <i class="fa-solid fa-tags icons" style="color: #e7a7c7;"></i>
                        <p>商品タグ追加</p>
                        </div>
                    </a>
                    </li>
                </ol>
            </div>
        
            <div class="process-detail">
                <h4>各ステップのご説明</h4>
                <ol class="step-descriptions">
                    <li>
                        <h5>1. 商品元登録</h5>
                        <p>まずは商品の元データを登録いただきます。</p>
                    </li>
                    <li>
                        <h5>2. 商品登録</h5>
                        <p>次に、商品の詳細情報（価格、在庫、説明など）をご入力ください。こちらに登録されると出品が完了いたします。</p>
                    </li>
                    <li>
                        <h5>3. 商品画像登録</h5>
                        <p>商品の魅力を伝えるため、複数のアングルや詳細画像をアップロードしてください。</p>
                    </li>
                    <li>
                        <h5>4. 商品タグ追加</h5>
                        <p>最後に、関連するキーワードやカテゴリをタグとして設定してください。タグ付けにより、検索性が向上いたします。</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}