{% extends 'base.html' %}
{% block title %}色追加{% endblock %}
{% block content %}
<div class="page-container">
    <div class="form-header">
        <h4>カラー</h4>
        <p>カラーの登録変更を行います</p>
    </div>
    <div class="form-content">
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- カラー名フィールド -->
            <div class="form-group">
                <label for="{{ form.color_name.id_for_label }}">{{ form.color_name.label }}</label>
                {{ form.color_name }}
                {% if form.color_name.errors %}
                <small class="text-danger d-block mt-1">
                    {{ form.color_name.errors }}
                </small>
                {% endif %}
            </div>

            <!-- カラーコードフィールド -->
            <div class="form-group">
                <label for="{{ form.color_code.id_for_label }}">{{ form.color_code.label }}</label>

                <div class="d-flex align-items-center">
                    {{ form.color_code }}
                </div>
                {% if form.color_code.errors %}
                <small class="text-danger d-block mt-1">
                    {{ form.color_code.errors }}
                </small>
                {% endif %}
            </div>

            <!-- ボタン群 -->
            <div class="form-actions-btn">
                <button type="submit" class="complete-btn">追加</button>
                <button type="button" onclick="window.history.back();" class="cancel-btn">
                    戻る
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}