{% extends 'base.html' %}
{% block title %}商品元一覧{% endblock %}
{% block content %}
<div class="page-container">
	<div class="mb-3 text-center">
		<a href="{% url 'fipleapp:product_origin_add' %}" class="icon-link">
			<div class="icon-tile">
				<i class="fa-solid fa-warehouse icons" style="color: #a7bae7;"></i>
                <p>商品元追加</p>
			</div>
		</a>
	</div>

	<div class="d-flex justify-content-center">
		<div class="category-list" style="max-width: 600px; width: 100%;">
			<ul class="list-group">
				{% for product in products_origin %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div class="d-flex aligin-item-center">
							<div>
								<div class="d-flex align-items-center">
									<div class="flex-grow-1 text-start">
										<p class="mb-0 fw-bold" style="font-size: 1em; margin-right: 10px;">
											{{ product.product_name }}
										</p>
										<p class="mb-0 text-muted">
											{{ product.category.category_name }}/{{ product.subcategory.subcategory_name }}
										</p>
										<p class="mb-0 text-muted">
											性別:
                                            {% if product.gender == "M" %}
                                            男性
                                            {% elif product.gender == "F" %}
                                                女性
                                            {% else %}
                                                その他
                                            {% endif %}
										</p>
										<!-- 詳細トグルボタン -->
										<p class="product-detail-btn">
											<a class="text-dark toggle-description" 
												data-bs-toggle="collapse" 
												href="#description-{{ forloop.counter }}" 
												role="button" 
												aria-expanded="false" 
												aria-controls="description-{{ forloop.counter }}">
												商品詳細
												<i class="fa-solid fa-chevron-right rotate-icon ml-2"></i>
											</a>
										</p>

										<!-- 詳細コンテンツ -->
										<div class="collapse" id="description-{{ forloop.counter }}">
											<p class="text-muted" style="font-size: 0.9em;">
												{{ product.description }}
											</p>
										</div>
									</div>
								</div>
							
								<small class="text-muted d-block mt-1" style="font-size: 0.75em;">
									<span class="me-2">
										<i class="fa-solid fa-calendar-plus me-1"></i>作成: {{ product.created_at|date:"Y/m/d" }}
									</span>
									<span>
										<i class="fa-solid fa-calendar-check me-1"></i>更新: {{ product.updated_at|date:"Y/m/d" }}
									</span>
								</small>
							</div>
						</div>
						<div class="btn-group">
							<a href="{% url 'fipleapp:product_origin_edit' product.id %}" class="mt-1">
								<i class="fa-regular fa-pen-to-square"></i>
								<span style="color: gray;">変更</span>
							</a>
							<a href="{% url 'fipleapp:product_origin_delete' product.id %}" class="mt-2">
								<i class="fa-regular fa-trash-can"></i>
								<span style="color: gray;">削除</span>
							</a>
						</div>
					</li>
					{% empty %}
					<li>商品元がありません。</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<nav aria-label="ページネーション">
		<ul class="pagination">

			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="前へ">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for page_num in page_obj.paginator.page_range %} 
				{% if page_num == page_obj.number %}
					<li class="page-item active">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="次へ">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}

		</ul>
	</nav>
</div>
{% endblock %}