{% extends 'base.html' %}
{% block title %}商品元追加{% endblock %}
{% block content %}
<h4>商品元追加</h4>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">追加</button>
</form>
<br>
<a href="{% url 'fipleapp:product_origin_list' %}"><h5>戻る</h5></a>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categorySelect = document.getElementById('id_category');
        const subcategorySelect = document.getElementById('id_subcategory');
    
        categorySelect.addEventListener('change', function() {
            const categoryId = this.value;
    
            // サブカテゴリをリセット
            subcategorySelect.innerHTML = '';
    
            fetch(`/get-subcategories/?category_id=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(subcategory => {
                        const option = document.createElement('option');
                        option.value = subcategory.id;
                        option.textContent = subcategory.subcategory_name;
                        subcategorySelect.appendChild(option);
                    });
                });
        });
    });
    </script>

{% endblock %}