{% extends 'base.html' %}

{% block title %}お問い合わせ内容の追加{% endblock %}

{% block content %}
<div class="page-container">
    <h4>お問い合わせ内容の追加</h4>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">お問い合わせ内容</label>
            {{ form.name }}
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
    <div class="contact-categories-content">
        <h4>登録済みのお問い合わせ件名</h4>
        <div class="contact-categories-list">
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% empty %}
                <li>お問い合わせの件名がありません。</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}