{% extends 'base.html' %}

{% block title %}お問い合わせ一覧{% endblock %}

{% block content %}
<div class="page-container">
    <div class="contact-header">
        <div class="contact-header-title">
            <h4>お問い合わせ</h4>
            <p>ユーザーからのお問い合わせを管理します</p>
        </div>
        <a href="{% url 'fipleapp:add_contact_category' %}" class="contact-add-btn">
            お問い合わせ件名を追加する
        </a>
    </div>
    <div class="contact-main">
        <ul>
            {% if contacts %}
                {% for contact in contacts %}
                <li>
                    名前{{ contact.name }}  
                    件名{{ contact.category }}  
                    お問い合わせ内容{{ contact.message|truncatewords:10 }}  
                    お問い合わせ日{{ contact.created_at }}  
                    <a href="{% url 'fipleapp:contact_detail' contact.id %}">詳細</a>
                </li>
                {% endfor %}
            {% else %}
                <p>現在お問い合わせがありません。</p>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
